div.mainBodyDiv{
	font-family : verdana;
	//border : 1px solid black;
	background-color : white;
	align : center;
}

div.headerDiv{
	border : 1px dotted black;
	margin : 5px;
	padding : 3px;
	background-image: url("../imgs/orangeGolf.jpg");
	width : 620px;
	height : 99px;
}

div.subBodyDiv{
	margin : 5px;
	padding : 3px;
	//border : 1px dotted black;
	width : 620px;
	height : 199px;
}

p.bannerHeading {
	
	font-size : 38 px;
	padding-top : 20px;
}

span.bannerTagLine {
	font-size : 5 px;
}

table.loginFormTable {
	border-collapse : collapsed;
	border : 2px dashed orange;
	border-radius: 12px;
	padding : 20px;
}