/*****************************************CSS for login screen S1 ***************************************/
div.mainBodyDiv{
	font-family : verdana;
	//border : 1px solid black;
	background-color : white;
	align : center;
}

div.headerDiv{
	border : 1px dotted black;
	margin : 5px;
	padding : 3px;
	background-image: url("../imgs/orangeGolf.jpg");
	width : 620px;
	height : 99px;
}

div.subBodyDiv{
	margin : 5px;
	padding : 3px;
	//border : 1px dotted black;
	width : 620px;
	height : 399px;
}

p.bannerHeading {
	
	font-size : 38 px;
	padding-top : 20px;
}

span.bannerTagLine {
	font-size : 5 px;
}

table.loginFormTable {
	border-collapse : collapsed;
	border : 2px dashed orange;
	border-radius: 12px;
	padding : 20px;
}

/*****************************************CSS for login screen S1 ***************************************/

/*****************************************CSS for login screen S2 ***************************************/
table.surveyListTable {
	border-collapse : collapsed;
	border : 2px dotted red;
	border-radius: 12px;
	//padding : 22px;
	background-color : #f8ff6c;
}

table tr.surveyListTableHeader {
	background-color : orange;
	
}

table tr th.surveyListTableHeaderCell {
	align : center;
}

table tr td.oddRecord {
	background-color : #feb654;
	text-align : center;
	align : center;
}

table tr td{
	text-align : center;
	align : center;
}

div.pageTopic {
	font-style : bold;
	font-size : 25px;
	padding : 15px;
}
/*****************************************CSS for login screen S2 ***************************************/

/*****************************************CSS for login screen S3 ***************************************/
div.questionArea {
	width : 620px;
	border : 2px dotted orange;
	border-radius: 12px
	//height : 299px;
}

div.question {
	border-bottom-color : red;
	border-bottom-style : solid;
	border-bottom-width : 2px;
	text-align : left;
	padding : 10px 10px 10px 15px;
	//padding-left : 10px;
}

div.answers {
	border-bottom-color : red;
	border-bottom-style : solid;
	border-bottom-width : 2px;
	text-align : left;
	padding : 10px 10px 10px 39px;
}

div.questionNavigation {
	padding : 10px 10px 10px 10px;
}

span.prevQuestionNav {
	text-align : left;
	width : 50%;
}

span.nextQuestionNav {
	text-align : right;
	width : 50%;
}
/*****************************************CSS for login screen S3 ***************************************/



/*****************************************CSS for login screen S4 ***************************************/
/*******************NOTHING HERE SO FAR******************/
/*****************************************CSS for login screen S4 ***************************************/



/*****************************************CSS for login screen S5 ***************************************/
table.createSurveyTable {
	background-color : #f8ff6c;
	border-collapse : collapsed;
	border : 2px dotted red;
	border-radius: 12px;
}

table tr.createSurveyTableHeader {
	background-color : orange;
	
}
table tr td {
	text-align : left;
	
}

div.surveyCreateQArea{
	border : 2px dotted orange;
	border-radius: 12px;
	text-align : left;
}
/*****************************************CSS for login screen S5 ***************************************/