<html>


<head>
<title>
Survey App by Omkar
</title>
<script src="../../../../1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="css/mySurveyApp.css">
</head>

<body ng-app="myApp">

	<center>
		<div class="mainBodyDiv">
			<div class="headerDiv">
				<p class="bannerHeading">MySurvey<span class="bannerTagLine"> ... your personal survey App !!!</span> </p>
			</div>
			
			<div class="subBodyDiv" ng-controller="myCntrl3 as c3">
					Survey Questions
					<div class="questionArea">
						<div class= "question" >
						Q. {{c3.dispQuestions.question}}
						</div>
						<div class= "answers" >
						Ans.<br>
							<div ng-if="c3.dispQuestions.questionType === 'MCQ'">
								<ol>
									<li ng-repeat="answer in c3.dispQuestions.answers">
										<input type="checkbox" ng-model="answer.selected" ng-value="true"/> &nbsp;&nbsp; {{answer.ansTitle}}<br><br>										
									</li>
								</ol>
							</div>
							<div ng-if="c3.dispQuestions.questionType === 'SCQ'">
								<select ng-model="selectedAnswer" ng-options="answer.ansTitle for answer in c3.dispQuestions.answers" ></select>
							</div>
						</div>
						<div class= "questionNavigation" >
							<span class="prevQuestionNav">
								<input type="button" value = "Previous" ng-disabled="c3.dispQuestions.prevQId < 0" ng-click="c3.loadQuestion(c3.dispQuestions.prevQId)"/>
							</span>
							&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							<span class="nextQuestionNav">
								<input type="button" value = "Next" ng-disabled="c3.dispQuestions.nextQId < 0" ng-click="c3.loadQuestion(c3.dispQuestions.nextQId)"/>
							</span>
							
						</div>
					</div>
			</div>
		</div>
	<center>
	
	<br>
	<br>
	
</body>

<script src="js/mySurveyApp.js">	
</script>

</html>